@(userForm: Form[it.sf.controllers.UserData], actionToPerform: String)

@import helper._
@import it.sf.controllers.routes.RegistrationController.{oldPostLogin, postRegister}

@actionCall = @{
    if("login".equals(actionToPerform)) oldPostLogin else postRegister
}

@helper.form(actionCall) {
    @helper.inputText(userForm("username"))
    @helper.inputPassword(userForm("password"))

    @userForm.globalError.map { error =>
    <p class="error">
        @error.message
    </p>
    }

    <button type="submit" id="loginbutton" class="button-link">Login</button>
}


