@(user: securesocial.core.Identity, interests: List[it.sf.models.Interest])


@main(title= s"soccerFriends - ${user.fullName}", identity=Some(user), "USER") {
<div class="row">
    <p>@{user.email.getOrElse("no email")}</p>

    <p>@{user.fullName}</p>

    @interests.map { i =>
    <p>@i</p>
    }

    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="add interest">
            <span class="input-group-btn">
            <a class="btn btn-default" type="button" href="#">
                <span class="glyphicon-plus"></span>
            </a>
             </span>
        </div>
    </div>

</div>

}

