@(user: securesocial.core.Identity, interests: List[it.sf.models.Interest])


@main(title= s"soccerFriends - ${user.fullName}", identity=Some(user), "USER") {
<div class="row">
    <p>@{user.email.getOrElse("no email")}</p>

    <p>@{user.fullName}</p>

    <div id="user-interests-container"></div>

    <div class="col-lg-3">
        <div class="input-group" on="init()">
            <input type="text" class="form-control" placeholder="add interest" id="input-interest">
            <span class="input-group-btn">
            <a class="btn btn-default" type="button" href="#" id="btn_1" onclick="clickIt(event)">
                <span class="glyphicon-plus"></span>
            </a>
             </span>
        </div>
    </div>
    <div id="alert-box"></div>
</div>

}

<script type="text/javascript">

  var successFn = function(data) {
   if(data == "true"){
	   $('#alert-box').html('');
	   $("#alert-box").append('<div class="alert alert-success">' + '<a class="close" data-dismiss="alert">×</a>  ' +
			   'Inserted new element! '+ '</div>');
	jsRoutes.controllers.InterestController.interestList().ajax(ajaxFill);
   }
   else{
	   $('#alert-box').html('');
	   $("#alert-box").append('<div class="alert alert-error">' + '<a class="close" data-dismiss="alert">×</a>  ' +
			   '<strong>Element already exists..!</strong>! '+ '</div>');
	   }
   console.debug("Success of Ajax Call");
   console.debug(data);
  };
  var errorFn = function(err) {
   console.debug("Error of ajax Call");
   console.debug(err);
    $('#alert-box').html('');
    $("#alert-box").append('<div class="alert alert-error">' + '<a class="close" data-dismiss="alert">×</a>  ' +
			   'bad value '+ '</div>');
  }

  ajax1 = {
    success: successFn,
    error: errorFn
  }


  var fillList = function(data) {
        $('#user-interests-container').html('');
        $('#user-interests-container').append(data);
    	$('#input-interest').focus()
  };

  ajaxFill = {
    success: fillList,
    error: errorFn
  }

  $("document").on("pageinit",init());
  function init() {
    jsRoutes.controllers.InterestController.interestList().ajax(ajaxFill)
  };

  function clickIt(e) {
    e.preventDefault()
  	var idToGet = $("#input-interest").val();
    jsRoutes.controllers.InterestController.newItem(idToGet).ajax(ajax1);
    }

</script>