@(title: String, identity: Option[securesocial.core.Identity], menuSelected: String)(content: Html)


@import it.sf.controllers.routes.RegistrationController
@import it.sf.manager.SessionManager

@check(string: String, otherClasses: Option[String]) = {
    @if(string.equals(menuSelected)) {
active @otherClasses.getOrElse("")
        } else {
@otherClasses.getOrElse("")
        }
 }

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/asset.css")" />-->
    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'/>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/layout.css")'/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>

    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

    <script src='@routes.Assets.at("javascripts/jquery-1.11.0.min.js")'><!-- --></script>
    <script src='@routes.Assets.at("javascripts/bootstrap.min.js")'><!-- --></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <style id="holderjs-style" type="text/css"></style>
</head>


<!-- NAVBAR
================================================== -->
<body style="padding-top:80px">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">soccerFriends</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class='@check("HOME", None)'><a href="/">Home</a></li>
                <li  class='@check("ABOUT", None)'><a href="#about">About</a></li>
                <li class='@check("CONTACT", None)'><a href="#contact">Contact</a></li>
                <li class='@check("DROPDOWN", Some("dropdown"))'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>

                    </ul>

                </li>
                <li class='@check("USER", None)' >
                    @identity match {
                        case Some(i) =>     {<a href="/user"> @i.fullName </a>}
                        case None =>       { <a href="/login">login</a>}
                    }
                </li>
                    @{identity match {
                        case Some(i) => {
                            <li>
                                <a href="/logout">logout</a>
                            </li>
                        }
                        case None =>
                        }
                    }
            </ul>
        </div>
    </div>
</div>


<div class="container">
        @content
</div>

<div id="footer">
    <div class="container">
        <!--<p class="text-muted">Place sticky footer content here.</p>-->
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</div>
</body>
</html>